body {
    background-color: #000c8f;
    color: #1885f1;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
body {
    padding: 0;
    margin: 0;
}


#youtube{
    background-color: #18f118;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5vh;
    
}


#youtube:hover {
    background-color: #04d1f6;
    cursor: pointer;
}

span {
    color: rgb(255, 0, 0);
}


#Github{
    background-color: #f1a918;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

#Github:hover {
    background-color: #f90909;
    cursor: pointer;
}

#Z-Counter{
    background-color: #f11818;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

#Tutorials{
    background-color: #1885f1;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}


#Variables{
    background-color: rgb(78, 154, 146);
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}



#Python{
    background-color: #f11818;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

#sss{
    background-color: #f15d18;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: rgb(78, 154, 146);
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

#hihihi{
    background-color: #49ddc7;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}

#hjk{
    background-color: #c7dd49;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}

#seventy{
    background-color: #160070;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
}

.btn:hover {
    transform: scale(10.3);
    -webkit-transform: scale(10.3);
    -moz-transform: scale(10.3);
    -ms-transform: scale(10.3);
    -o-transform: scale(10.3);
    width: 20px;
}






#guess{
    background-color: #a1ef0fb3;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}



#sss{
    background-color: #f15d18;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    background-color: rgb(78, 154, 146);
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}

#hihihi{
    background-color: #49ddc7;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}


#banana{
    background-color: #007049;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}

#yay{
    background-color: #700009;
    border: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    padding: 10px 25px;
    font-size: 30px;
    font-weight: bold;
}

.topnav {
    background-color: rgb(6, 0, 0);
    overflow: hidden;
    border-radius: 0vh;
    -webkit-border-radius: 0vh;
    -moz-border-radius: 0vh;
    -ms-border-radius: 0vh;
    -o-border-radius: 0vh;
}
  
  .topnav a {
    float: left;
    color: #028911;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  
  .topnav a:hover {
    background-color: rgb(148, 85, 3);
    color: black;
  }
  
  .topnav a.active {
    background-color: #045701;
    color: white;
  }